@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* website color */
:root{
    --soft-peach: #FBEDE2;
    --dark-greenish: #122F26;
    --light-greenish: #1E473A;
    --oranges-yellow: #F1B819;
    --wooden-brown: #693F04;
    --white-rock: #EBE7D0;
    --white-clr:#FFF;

}

/* basic styling */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.green-clr{
    color: var(--light-greenish);
}

.peach-clr{
    color: var(--soft-peach);
}

.bg-green{
    background: var(--light-greenish);
}

.bg-peach{
    background: var(--soft-peach);
}

img{
    max-width: 100%;
    height: auto;
}

.side-spacing{
    padding-inline: 6rem;
}




/* header section */
header{
    height: 13vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navlist,
.action-list,
.social-list{
    display: flex;
    align-items: center;
    gap : 2.5rem;
}

.navlist,
.action-list{
    gap: 2.5rem;
}

.links{
    font-size: 1rem;
}

.nav-btn{
    background: var(--soft-peach);
    color: var(--light-greenish);
    padding: .7rem 1.3rem;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger{
    display: none;
   cursor: pointer;
}

.fa-bars{
    color: var(--soft-peach);
    font-size: 2rem;
}

/* other section */

/* hero-section */
.hero-section {
    min-height: 110vh;
    position: relative;
}

h1{
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 9rem;
    font-family: "Kanit", sans-serif;
}

.hero-img{
    position: absolute;
    width: 26rem;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-img::before{
    content: '';
    position: absolute;
    width: 40rem;
    aspect-ratio: 1;
    background: linear-gradient(var(--dark-greenish) 50%,var(--white-rock)50%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: -1;

}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
}

p{
    max-width: 450px;
    text-align: right;
}

.icons-link{
    width: 2.7rem;
    text-align: center;
    line-height: 2.7rem;
    border-radius: 50%;
    color: var(--light-greenish);
    transition: transfrom .3s;
}

.icons-link:hover{
    transform: translateY(-20%);
}

.fa-brands{
    font-size: 1.3rem;
}

.social-list{
    gap: 1rem;
}

.headline{
    background: var(--oranges-yellow);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    padding-block: 1.1rem;
}

.headline-content{
    display: inline-block;
}

h4{
    display: inline-block;
    font-size: 2.2rem;
    color: var(--wooden-brown);
    text-transform: uppercase;
    margin-inline: 2rem;
}

/* our coffee section */

.working-section{
    padding-block: 3rem;
}

.img-part{
    width: 25rem;
}

h2{
    font-size: 4.2rem;
    text-transform: uppercase;
    text-align: right;
    font-family: "Notable", sans-serif;
    font-weight: 400;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    position: relative;
}

.card{
    width: 23rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

#first-container .card:nth-child(1){
       background-image: url(assests/latte.jpg);
}

#first-container .card:nth-child(2){
    background-image: url(assests/mocha\ \(1\).jpeg);
}

#first-container .card:nth-child(3){
    background-image: url(assests/affogato.jpg);
}




#second-container .card:nth-child(1){
    background-image: url(assests/capuccino.jpg);
}

#second-container .card:nth-child(2){
    background-image: url(assests/americano\ \(1\).jpg);
}

#second-container .card:nth-child(3){
    background-image: url(assests/flat\ white.jpg);
}

#third-container .card:nth-child(1){
    background-image: url(assests/frappe.jpeg);
}

#third-container .card:nth-child(2){
    background-image: url(assests/cartedo.jpg);
}

#third-container .card:nth-child(3){
    background-image: url(assests/espresso.jpeg);
}

.card::before{
    content: attr(data-type);
    position: absolute;
}

.action-btn
{
    background: var(--oranges-yellow);
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--light-greenish);
    display: block;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
}

.placement{
    position: absolute;
    bottom : 15px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;

}

.card:hover .placement{
    opacity: 1;
    visibility: visible;
}

/* best coffee section */
.img-con{
    width: 13rem;
    height: 6rem;
    border-radius: 5rem;
    overflow: hidden;
}

[data-type='min-padding']{
    padding-top: 2rem;
}

video{
    border-radius: 2rem;
    width: 100%;
    margin-top: 3rem;
}

/* our Rosting section */
.start{
    text-align: left;
}

.listing{
    background: var(--dark-greenish);
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 2.5rem;
    border-radius: 5rem;
    position: relative;
}

h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: "Kanit", sans-serif;
}

.listing:hover{
    background: var(--oranges-yellow);
}

.listing:hover h3{
    color: var(--light-greenish);
}

.listing:hover .action-btn{
    background: var(--light-greenish);
    color: var(--oranges-yellow);
}

.roasting-img{
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 20%;
    top: -5%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.roasting-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.listing:hover  .roasting-img{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

/* footer section */
footer{
    padding-block: 2rem;
}

h5{
    color: var(--light-greenish);
    font-family: 1.2rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col{
    flex-basis: 10rem;
    margin-top: 2rem;
}

.footer-list{
    margin-top: 1rem;
}

.footer-list li{
    margin-bottom: .6rem;
}

form{
    height: 3.5rem;
    width: 23rem;
    background: var(--white-clr);
    border-radius: 5rem;
    padding: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type='email']{
    background: transparent;
    border: none;
    font-size: 1rem;
    height: 100%;
    border-radius: inherit;
    padding-inline: 1rem;
}

input:focus{
    outline: none;
}

input[type='submit']{
    background: var(--light-greenish);
    border: none;
    color: var(--soft-peach);
    font-size: 1rem;
    border-radius: 5rem;
    padding: .6rem 1rem;
}


/* media Queries */

@media  screen and(max-width: 680) {
    .navlist,
    .action-list{
        display: none;
    }

    .hamburger{
         display: block;
    }

    .side-spacing{
        padding-inline: 1rem;
    }

    h1{
        font-size: 5.5rem;
        line-height: 4.7rem;
    }

    .hero-img{
        width: 20rem;
        top: 40%;
    }

    .hero-img::before{
        width: 30rem;
    }

    .hero-content{
        flex-direction: column;
        padding-top: 2rem;
        gap: 1rem;
    }

    h2{
        font-size: 2.9rem;
    }

    .img-con{
        display: none;
    }

    [data-type="min-padding"]{
        padding-top: .3rem;
    }

    h3{
        font-size: 2.2rem;
    }

}

